@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #282828;
}

html::-webkit-scrollbar-thumb {
  background: #e1ad01;
  border-radius: 5rem;
}

body {
  background: #282828;
  padding-bottom: 6.5rem;
}

.divider {
  color: #282828;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: #e1ad01;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #e1ad01;
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
  margin-right: 5rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: #e1ad01;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.animation_background {
  background: #282828;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; 
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1B1C1D;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar a i {
  color: #e1ad01;
  padding-right: .5rem;
}

.navbar a:hover i {
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.home .auto-input{
  font-family: "Incosolata", Consolas, monospace;
  font-size: 5rem;
  color: #05cc3a;
}

.home h4{
  font-family: "Incosolata", Consolas, monospace;
  font-size: 5rem;
  color: #05cc3a;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
  padding-top: 10rem;
}

.home .image img {
    width: 35rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 2.5rem;
  color: #e1ad01;
  padding: .25rem 0;
  display: block;
}

.in-line{
  display: inline-block;
  flex-wrap: 1;
}

.wave {
  display: inline-block;
  animation: animate-wave 500ms infinite ease-in-out;
  font-size: 4rem;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.home .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.certifications {
  text-align: center;
  margin-top: 2rem;
}

.certifications h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
  padding: 4rem;
}

.certification-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.certification-images img {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}


.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .info-container h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about .row .info-container .box-container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info-container .box-container .box h3 span {
  color: #aaa;
  font-weight: lighter;
}

.about .row .count-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .count-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 3rem 4rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.about .row .count-container .box h3 {
  font-size: 5rem;
  color: #e1ad01;
}

.about .row .count-container .box p {
  font-size: 2rem;
  color: #aaa;
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  background: #1a1a1a;
}

.skills .box-container .box:hover {
  background: #fff;
}

.skills .box-container .box:hover h3 {
  color: #0d0d0d;
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
}

.experience .roadmap {
  position: relative;
  padding: 4rem 0;
  margin-left: 10%;
}

.experience .milestone {
  position: relative;
  margin-bottom: 4rem;
}

.experience .milestone::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  height: 100%;
  width: 0.2rem;
  background: #e1ad01;
}

.experience .milestone .content {
  background: #1a1a1a;
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  position: relative;
  width: 80%;
}

.experience .milestone .content i {
  position: absolute;
  left: -3rem;
  top: 0;
  font-size: 2.5rem;
  border-radius: 50%;
  background: #e1ad01;
  color: #fff;
  padding: 0.5rem;
}

.experience .milestone .content span {
  display: block;
  font-size: 1.8rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.experience .milestone .content h3 {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.experience .milestone .content h4 {
  font-size: 1.8rem;
  color: #e1ad01;
  margin-bottom: 1rem;
}

.experience .milestone .content p {
  font-size: 1.6rem;
  color: #aaa;
  line-height: 1.6;
}
.portfolio {
  text-align: center;
  position: relative;
  padding: 2rem;
}

.portfolio .heading {
  margin-bottom: 2rem;
}

.portfolio .main-frame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90%;
  margin: 0 auto;
}

.portfolio .details {
  flex: 1;
  padding: 2rem;
}

.portfolio .project-info {
  text-align: left;
}

.portfolio .project-number-bubble {
  font-size: 4rem;
  color: #e1ad01;
  background: #1a1a1a;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  font-family: 'Black Ops One', system-ui; /* Apply the Google Font here */
}


.portfolio .project-title {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.portfolio .project-description {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.portfolio .project-tools {
  font-size: 1.5rem;
  color: #e1ad01;
  margin-bottom: 1rem;
}

.portfolio hr {
  border: none;
  border-top: 1px solid #aaa;
  margin: 1rem 0;
  padding: 1rem;
}

.portfolio .visit-link {
  font-size: 1.5rem;
  color: #e1ad01;
  text-decoration: none;
  border: 1px solid #e1ad01;
  padding: 0.5rem 1.5rem; 
  border-radius: 5px;
}

.portfolio .visit-link:hover {
  background-color: #e1ad01;
  color: #fff;
}

.portfolio .image-frame {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45vh; /* Pre-set frame height */
}

.portfolio .box-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%; /* Ensure it takes the full height of the image frame */
  overflow: hidden;
}

.portfolio .box {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.portfolio .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire area */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Blurred white drop shadow */
  box-sizing: border-box;
}

.portfolio .arrows {
  display: flex;
  justify-content: flex-end; /* Align arrows to the right */
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.portfolio .arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #000;
  background-color: #e1ad01;
  padding: 0.5rem 0.5rem; /* Ensure the arrows have square background */
  border-radius: 10%; /* Slight rounding */
  transition: background-color 0.3s ease;
}

.portfolio .arrow:hover {
  background-color: #fff;
}




.share a {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  margin-right: .3rem;
}

.share a:hover {
  background: #e1ad01;
}



@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 30rem;
    width: 30rem;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media(prefers-reduced-motion){
  .hidden{
      transitional: none;
  }
}

/*# interactive scrolling */
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hiddenY{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.box-:nth-child(2){
  transition-delay: 100ms;
}
.box:nth-child(3){
  transition-delay: 200ms;
}
.box:nth-child(4){
  transition-delay: 300ms; 
}
.box:nth-child(5){
  transition-delay: 400ms;
}
.box:nth-child(6){
  transition-delay: 500ms; 
}
.box:nth-child(7){
  transition-delay: 600ms; 
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */